@font-face {
  font-family: "CG Light";
  src: url("/public/fonts/CocoGothic-Light.ttf") format("truetype");
}
@font-face {
  font-family: "CG Bold";
  src: url("/public/fonts/CocoGothic-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "CG Heavy";
  src: url("/public/fonts/CocoGothic-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "CG Fat";
  src: url("/public/fonts/CocoGothic-Fat.ttf") format("truetype");
}

*,
*::before,
*::after {
  user-select: none;
  box-sizing: border-box;
  // cursor: none; // si cursor custom
}

::-webkit-scrollbar {
  display: none;
}

body {
  padding: 0;
  overflow: hidden;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 1.6rem;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  width: 100%;
}

main,
#webgl,
#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}