@font-face {
  font-family: "CG Light";
  src: url("/fonts/CocoGothic-Light.ttf") format("truetype");
}
@font-face {
  font-family: "CG Bold";
  src: url("/fonts/CocoGothic-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "CG Heavy";
  src: url("/fonts/CocoGothic-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "CG Fat";
  src: url("/fonts/CocoGothic-Fat.ttf") format("truetype");
}
@font-face {
  font-family: "Mikado";
  src: url("/fonts/MikadoBold.otf") format("opentype");
}

$pointer: url("/images/cursors/pointer.png");
$cursor: url("/images/cursors/cursor.png");

*,
*::before,
*::after {
  user-select: none;
  box-sizing: border-box;
  // cursor: none; // si cursor custom
}

::-webkit-scrollbar {
  display: none;
}

body {
  padding: 0;
  overflow: hidden;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 1.6rem;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // overflow: hidden;

  cursor: $pointer 5 5, pointer;
  cursor: $cursor 5 5, auto;
}
button,
a,
a *,
button * {
  cursor: $cursor 5 5, auto;
  &:hover {
    cursor: $pointer 5 5, pointer;
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  width: 100%;
}

main,
#webgl,
#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#intro {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  background-color: rgba(0, 9, 94, 1);

  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    #earth {
      width: 200px;
    }

    #progress-bar {
      bottom: 30%;
      height: 10px;
      width: 200px;
      border: 2px solid white;
      border-radius: 50px;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 0%
      );
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50vh;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;

      .logo {
        .impact-logo {
          height: 130px;
          margin: 0 2px;

          &.letter-A {
            margin: 0 -22px 0 -35px;
          }
        }
      }

      h2 {
        font-size: 40px;
        margin-top: 20px;
        text-shadow: 4px 4px 4px rgba(13, 28, 81, 0.1);
      }
    }

    @keyframes bounce {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(-5px);
      }
    }

    #start-button {
      opacity: 0;
      transform: translateY(100);
      pointer-events: none;
      color: #ffffff;
      background-color: transparent;
      border: none;
      padding: 0 10px;
      position: relative;

      .start-el {
        display: inline-block;
      }

      &:after {
        position: absolute;
        content: "";
        height: 2px;
        bottom: -2px;
        width: 0%;
        background: white;
        transition: 0.5s;
        margin: 0;
        left: 5%;
        right: 5%;
      }

      &:hover {
        .start-el {
          animation: bounce 0.3s ease alternate 2;

          @for $i from 1 through 16 {
            &:nth-of-type(#{$i}) {
              animation-delay: #{$i * 0.03}s;
            }
          }
        }

        &:after {
          width: 90%;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  #home {
    h1 {
      font-size: 70px;
    }

    h2 {
      font-size: 20px;
    }
  }
}

#app {
  font-family: "Mikado";
  color: #0d1c51;
}

#menu-button {
  position: absolute;
  top: 50px;
  right: 50px;
}
